<div class="animated fadeIn">
  <h2>Interpolacion Polinomial</h2>
  <p>La interpolación lineal es un caso particular de la interpolación general de Newton.

    Con el polinomio de interpolación de Newton se logra aproximar un valor de la función f(x) en un valor desconocido de x. El caso particular, para que una interpolación sea lineal es en el que se utiliza un polinomio de interpolación de grado 1, que se ajusta a los valores en los puntos  x<sub>1</sub> y x<sub>2</sub></p>
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seleccione un tema
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
        <a class="dropdown-item" (click)="Interpolacion()">Interpolación Lineal</a>
        <a class="dropdown-item" (click)="NewtonA()">Newton hacia adelante</a>
        <a class="dropdown-item" (click)="NewtonD()">Newton hacia atras</a>
        <a class="dropdown-item" (click)="NewtonDD()">Newton con diferencias divididas</a>
        <a class="dropdown-item" (click)="Lagrange()">Lagrange</a>
    </div>
  </div>

  <!--Contenido de los temas individualmente-->
  <div>
    <div class="view">
        <div class="pregunta">
          <div *ngIf="(value == 'Interpolacion')">
              <h3>Interpolación Lineal</h3>
              <ul *ngFor="let item of PrInterpolacion">
                  <li>{{item.pregunta}}</li>
                  <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R1Interpolacion">
                      <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R2Interpolacion">
                      <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R3Interpolacion">
                      <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                    </ul>
                  </div>
              </ul>
          </div>
      </div>
    </div>

    <div class="view">
      <div class="pregunta">
        <div class="mt-4" *ngIf="(value == 'NewtonA')">
          <h3>Newton hacia adelante</h3>
          <ul *ngFor="let item of PrNewtonA">
              <li>{{item.pregunta}}</li>
              <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonA">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonA">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonA">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="view">
      <div class="pregunta">
        <div class="mt-4" *ngIf="(value == 'NewtonD')">
          <h3>Newton hacia atras</h3>
          <ul *ngFor="let item of PrNewtonD">
              <li>{{item.pregunta}}</li>
              <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonD">
                  <button  class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonD">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonD">
                  <button  class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="view">
      <div class="pregunta">
        <div class="mt-4" *ngIf="(value == 'NewtonDD')">
          <h3>Newton con diferencias divididas</h3>
          <ul *ngFor="let item of PrNewtonDD">
              <li>{{item.pregunta}}</li>
              <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonDD">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonDD">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonDD">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="view">
      <div class="pregunta">
        <div class="mt-4" *ngIf="(value == 'Lagrange')">
          <h3>Lagrange</h3>
          <ul *ngFor="let item of PrLagrange">
              <li>{{item.pregunta}}</li>
              <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R1Lagrange">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R2Lagrange">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R3Lagrange">
                  <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!--Contenido de todos los temas-->
  <div *ngIf="(value == 'Todos')">
    <div class="view">
      <h3>Interpolación Lineal</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrInterpolacion">
          <li>{{item.pregunta}}</li>
          <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R1Interpolacion">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R2Interpolacion">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R3Interpolacion">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
        </ul>
      </div>
    </div>

    <div class="view">
      <h3>Newton hacia adelante</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrNewtonA">
          <li>{{item.pregunta}}</li>
          <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonA">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonA">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonA">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
        </ul>
      </div>
    </div>

    <div class="view">
      <h3>Newton hacia atras</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrNewtonD">
          <li>{{item.pregunta}}</li>
          <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
        </ul>
      </div>
    </div>

    <div class="view">
      <h3>Newton con diferencias divididas</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrNewtonDD">
          <li>{{item.pregunta}}</li>
          <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonDD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonDD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonDD">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
        </ul>
      </div>
    </div>

    <div class="view">
      <h3>Lagrange</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrLagrange">
          <li>{{item.pregunta}}</li>
          <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R1Lagrange">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R2Lagrange">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
          <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngFor="let item of R3Lagrange">
              <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>