<div class="animated fadeIn">
    <h2>Ecuaciones diferenciales ordinarias</h2>
    <p>Es la ecuación diferencial que relaciona una función desconocida de una variable independiente con sus derivadas. Es decir, una sola variable independiente (a diferencia de las ecuaciones diferenciales parciales que involucran derivadas parciales de varias variables), y una o más de sus derivadas respecto de tal variable.</p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccione un tema
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
          <a class="dropdown-item" (click)="Euler()">Euler</a>
          <a class="dropdown-item" (click)="Orden2()">2do. Orden</a>
          <a class="dropdown-item" (click)="Orden3()">3er. Orden</a>
          <a class="dropdown-item" (click)="Orden4()">4to. Orden</a>
          <a class="dropdown-item" (click)="OrdenS()">Orden superior</a>
      </div>  
    </div>

<!--Contenido de los temas individualmente-->
  <div>
    <div class="view">
        <div class="pregunta">
          <div *ngIf="(value == 'Euler')">
              <h3>Euler</h3>
              <ul *ngFor="let item of PrEuler">
                  <li>{{item.pregunta}}</li>
                  <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R1Euler">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R2Euler">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R3Euler">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
              </ul>
          </div>
      </div>
    </div>

    <div class="view">
      <div class="pregunta">
        <div class="mt-4" *ngIf="(value == 'Orden2')">
          <h3>2do. Orden</h3>
          <ul *ngFor="let item of PrOrden2">
              <li>{{item.pregunta}}</li>
              <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R1Orden2">
                  <button class="list-group-item">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R2Orden2">
                  <button class="list-group-item">{{item.respuesta}}</button>
                </ul>
              </div>
              <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                <ul class="list-group list-group-flush" *ngFor="let item of R3Orden2">
                  <button class="list-group-item">{{item.respuesta}}</button>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Orden3')">
            <h3>3er. Orden</h3>
            <ul *ngFor="let item of PrOrden3">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Orden3">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Orden3">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Orden3">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Orden4')">
            <h3>4ta. Orden</h3>
            <ul *ngFor="let item of PrOrden4">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Orden4">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Orden4">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Orden4">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'OrdenS')">
            <h3>Orden superior</h3>
            <ul *ngFor="let item of PrOrdenS">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1OrdenS">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2OrdenS">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3OrdenS">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>

  </div>

<!--Contenido de todos los temas-->
    <div *ngIf="(value == 'Todos')">
        <div class="view">
            <h3>Euler</h3>
          <div class="pregunta">
            <ul *ngFor="let item of PrEuler">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Euler">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Euler">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Euler">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
    
        
        <div class="view">
        <h3>2do. Orden</h3>
          <div class="pregunta">
            <ul *ngFor="let item of PrOrden2">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Orden2">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Orden2">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Orden2">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>

        <div class="view">
            <h3>3er. Orden</h3>
              <div class="pregunta">
                <ul *ngFor="let item of PrOrden3">
                    <li>{{item.pregunta}}</li>
                    <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R1Orden3">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R2Orden3">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R3Orden3">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                </ul>
              </div>
        </div>

        <div class="view">
            <h3>4to. Orden</h3>
              <div class="pregunta">
                <ul *ngFor="let item of PrOrden4">
                    <li>{{item.pregunta}}</li>
                    <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R1Orden4">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R2Orden4">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R3Orden4">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                </ul>
              </div>
        </div>

      
        <div class="view">
            <h3>Orden superior</h3>
              <div class="pregunta">
                <ul *ngFor="let item of PrOrdenS">
                    <li>{{item.pregunta}}</li>
                    <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R1OrdenS">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R2OrdenS">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R3OrdenS">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                </ul>
              </div>
        </div>
    </div>

</div>

