<h2>Ecuaciones no lineales</h2>
<p>Llamamos sistema no lineal a un sistema de ecuaciones en el que una o ambas de las ecuaciones que forman el sistema es una ecuación no lineal, es decir, cuando alguna de las incógnitas que forman parte de la ecuación no son de primer grado.</p>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Seleccione un tema
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
      <a class="dropdown-item" (click)="Grafico()">Método Gráfico</a>
      <a class="dropdown-item" (click)="Bisectriz()">Bisectriz</a>
      <a class="dropdown-item" (click)="PuntoFijo()">Punto Fijo</a>
      <a class="dropdown-item" (click)="NewtonRaphson()">Newton-Raphson</a>
      <a class="dropdown-item" (click)="FalsaPosicion()">Falsa Posicion</a>
      <a class="dropdown-item" (click)="Secante()">Secante</a>

  </div>
</div>

<!--Contenido de los temas individualmente-->
<div>
  <div class="view">
      <div class="pregunta">
        <div *ngIf="(value == 'Grafico')">
            <h3>Método Gráfico</h3>
            <ul *ngFor="let item of PrGrafico">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Grafico">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Grafico">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Grafico">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
        </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'Bisectriz')">
        <h3>Bisectriz</h3>
        <ul *ngFor="let item of PrBisectriz">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Bisectriz">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Bisectriz">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Bisectriz">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'PuntoFijo')">
        <h3>Punto Fijo</h3>
        <ul *ngFor="let item of PrPuntoFijo">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1PuntoFijo">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2PuntoFijo">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3PuntoFijo">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'NewtonRaphson')">
        <h3>Newton-Raphson</h3>
        <ul *ngFor="let item of PrNewtonRaphson">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonR">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonR">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonR">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'FalsaPosicion')">
        <h3>Falsa Posicion</h3>
        <ul *ngFor="let item of PrFalsaPosicion">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1FalsaP">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2FalsaP">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3FalsaP">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'Secante')">
        <h3>Secante</h3>
        <ul *ngFor="let item of PrSecante">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Secante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Secante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Secante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--Contenido de todos los temas-->
<div *ngIf="(value == 'Todos')">
  <div class="view">
    <h3>Método Grafico</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrGrafico">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1Grafico">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2Grafico">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3Grafico">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Bisectriz</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrBisectriz">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1Bisectriz">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2Bisectriz">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3Bisectriz">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Punto Fijo</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrPuntoFijo">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1PuntoFijo">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2PuntoFijo">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3PuntoFijo">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Newton-Raphson</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrNewtonRaphson">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1NewtonR">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2NewtonR">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3NewtonR">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Falsa Posición</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrFalsaPosicion">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1FalsaP">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2FalsaP">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3FalsaP">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Secante</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrSecante">
        <li>{{item.pregunta}}</li>
        <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R1Secante">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R2Secante">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
        <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of R3Secante">
            <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>