<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-primary"  >Metodos Numericos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Unidad 1
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header text-info">Interpolación Polinomial</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Interpolación Lineal</a>
            <a class="dropdown-item" href="#">Newton hacia adelante</a>
            <a class="dropdown-item" href="#">Newton hacia atras</a>
            <a class="dropdown-item" href="#">Newton con diferencias divididas</a>
            <a class="dropdown-item" href="#">La Grange</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unidad 2
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <h6 class="dropdown-header text-info">Ecuaciones no lineales</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Método Grafico</a>
                <a class="dropdown-item" href="#">Bisectriz</a>
                <a class="dropdown-item" href="#">Punto fijo</a>
                <a class="dropdown-item" href="#">Newton-Raphson</a>
                <a class="dropdown-item" href="#">Falsa posicion</a>
                <a class="dropdown-item" href="#">Secante</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unidad 3
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <h6 class="dropdown-header text-info">Ecuaciones lineales</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Método Montante</a>
                <a class="dropdown-item" href="#">Método Gauss-Jordan</a>
                <a class="dropdown-item" href="#">Eliminación Gaussiana</a>
                <a class="dropdown-item" href="#">Gauss-Seidel</a>
                <a class="dropdown-item" href="#">Jacobi</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unidad 4
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <h6 class="dropdown-header text-info">Integración</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Regla Trapezoidal</a>
                <a class="dropdown-item" href="#">Regla de 3/8 Simpson</a>
                <a class="dropdown-item" href="#">Eliminación Gaussiana</a>
                <a class="dropdown-item" href="#">Newton-Cotes (Cerradas y abiertas)</a>
                <a class="dropdown-item" href="#">Ecuaciones diferenciales ordinarias</a>
                <a class="dropdown-item" href="#">Método Runge-Kutten</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
