<div class="animated fadeIn">
    <h2>Ecuaciones Lineales</h2>
    <p>En matemáticas y álgebra lineal, un sistema de ecuaciones lineales, también conocido como sistema lineal de ecuaciones o simplemente sistema lineal, es un conjunto de ecuaciones lineales (es decir, un sistema de ecuaciones en donde cada ecuación es de primer grado), definidas sobre un cuerpo o un anillo conmutativo.</p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccione un tema
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
          <a class="dropdown-item" (click)="Montante()">Método Montante</a>
          <a class="dropdown-item" (click)="GaussJordan()">Método Gauss-Jordan</a>
          <a class="dropdown-item" (click)="Gaussiana()">Eliminación Gaussiana</a>
          <a class="dropdown-item" (click)="GaussSeidel()">Gauss-Seidel</a>
          <a class="dropdown-item" (click)="Jacobi()">Jacobi</a>
      </div>
    </div>
  
    <!--Contenido de los temas individualmente-->
    <div>
      <div class="view">
          <div class="pregunta">
            <div *ngIf="(value == 'Montante')">
                <h3>Método Montante</h3>
                <ul *ngFor="let item of PrMontante">
                    <li>{{item.pregunta}}</li>
                    <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R1Montante">
                        <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R2Montante">
                        <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                      </ul>
                    </div>
                    <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of R3Montante">
                        <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                      </ul>
                    </div>
                </ul>
            </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'GaussJordan')">
            <h3>Método Gauss-Jordan</h3>
            <ul *ngFor="let item of PrGaussJordan">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Gauss">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Gauss">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Gauss">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Gaussiana')">
            <h3>Eliminación Gaussiana</h3>
            <ul *ngFor="let item of PrEGaussiana">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1EGaussiana">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2EGaussiana">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3EGaussiana">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'GaussSeidel')">
            <h3>Gauss-Seidel</h3>
            <ul *ngFor="let item of PrGaussSeidel">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1GaussSeidel">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2GaussSeidel">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3GaussSeidel">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Jacobi')">
            <h3>Jacobi</h3>
            <ul *ngFor="let item of PrJacobi">
                <li>{{item.pregunta}}</li>
                <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R1Jacobi">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R2Jacobi">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
                <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of R3Jacobi">
                    <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  
    <!--Contenido de todos los temas-->
    <div *ngIf="(value == 'Todos')">
      <div class="view">
        <h3>Método Montante</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrMontante">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Montante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Montante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Montante">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Método Gauss-Jordan</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrGaussJordan">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Gauss">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Gauss">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Gauss">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Eliminación Gaussiana</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrEGaussiana">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1EGaussiana">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2EGaussiana">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3EGaussiana">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Gauss-Seidel</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrGaussSeidel">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1GaussSeidel">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2GaussSeidel">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3GaussSeidel">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Jacobi</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrJacobi">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Jacobi">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Jacobi">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Jacobi">
                <button class="list-group-item btn btn-outline-info" type="button">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>