<div class="animated fadeIn">
    <h2>Ecuaciones Lineales</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat soluta ea aliquid minima non illum eos blanditiis expedita, rerum quod temporibus est modi, consequatur ab? Dolor voluptates ullam quis in.</p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccione un tema
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
          <a class="dropdown-item" (click)="Montante()">Método Montante</a>
          <a class="dropdown-item" (click)="GaussJordan()">Método Gauss-Jordan</a>
          <a class="dropdown-item" (click)="Gaussiana()">Eliminación Gaussiana</a>
          <a class="dropdown-item" (click)="GaussSeidel()">Gauss-Seidel</a>
          <a class="dropdown-item" (click)="Jacobi()">Jacobi</a>
      </div>
    </div>
  
    <!--Contenido de los temas individualmente-->
    <div>
      <div class="view">
          <div class="pregunta">
            <div *ngIf="(value == 'Montante')">
                <h3>Método Montante</h3>
                <ul *ngFor="let item of PrMontante">
                    <li>{{item.pregunta}}</li>
                    <div class="card respuesta" style="width: 18rem;">
                      <ul class="list-group list-group-flush" *ngFor="let item of PrMontante">
                        <button class="list-group-item">{{item.respuesta}}</button>
                      </ul>
                    </div>
                </ul>
            </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'GaussJordan')">
            <h3>Método Gauss-Jordan</h3>
            <ul *ngFor="let item of PrGaussJordan">
                <li>{{item.pregunta}}</li>
                <div class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <button class="list-group-item">Cras justo odio</button>
                    <button class="list-group-item">Dapibus ac facilisis in</button>
                    <button class="list-group-item">Vestibulum at eros</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Gaussiana')">
            <h3>Eliminación Gaussiana</h3>
            <ul *ngFor="let item of PrEGaussiana">
                <li>{{item.pregunta}}</li>
                <div class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <button class="list-group-item">Cras justo odio</button>
                    <button class="list-group-item">Dapibus ac facilisis in</button>
                    <button class="list-group-item">Vestibulum at eros</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'GaussSeidel')">
            <h3>Gauss-Seidel</h3>
            <ul *ngFor="let item of PrGaussSeidel">
                <li>{{item.pregunta}}</li>
                <div class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <button class="list-group-item">Cras justo odio</button>
                    <button class="list-group-item">Dapibus ac facilisis in</button>
                    <button class="list-group-item">Vestibulum at eros</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="view">
        <div class="pregunta">
          <div class="mt-4" *ngIf="(value == 'Jacobi')">
            <h3>Jacobi</h3>
            <ul *ngFor="let item of PrJacobi">
                <li>{{item.pregunta}}</li>
                <div class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <button class="list-group-item">Cras justo odio</button>
                    <button class="list-group-item">Dapibus ac facilisis in</button>
                    <button class="list-group-item">Vestibulum at eros</button>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  
    <!--Contenido de todos los temas-->
    <div *ngIf="(value == 'Todos')">
      <div class="view">
        <h3>Método Montante</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrMontante">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of PrMontante">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Método Gauss-Jordan</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrGaussJordan">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Eliminación Gaussiana</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrEGaussiana">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Gauss-Seidel</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrGaussSeidel">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="view">
        <h3>Jacobi</h3>
        <div class="pregunta">
          <ul *ngFor="let item of PrJacobi">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>