<h2>Ecuaciones no lineales</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat soluta ea aliquid minima non illum eos blanditiis expedita, rerum quod temporibus est modi, consequatur ab? Dolor voluptates ullam quis in.</p>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Seleccione un tema
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
      <a class="dropdown-item" (click)="Grafico()">Método Gráfico</a>
      <a class="dropdown-item" (click)="Bisectriz()">Bisectriz</a>
      <a class="dropdown-item" (click)="PuntoFijo()">Punto Fijo</a>
      <a class="dropdown-item" (click)="NewtonRaphson()">Newton-Raphson</a>
      <a class="dropdown-item" (click)="FalsaPosicion()">Falsa Posicion</a>
      <a class="dropdown-item" (click)="Secante()">Secante</a>

  </div>
</div>

<!--Contenido de los temas individualmente-->
<div>
  <div class="view">
      <div class="pregunta">
        <div *ngIf="(value == 'Grafico')">
            <h3>Método Gráfico</h3>
            <ul *ngFor="let item of PrGrafico">
                <li>{{item.pregunta}}</li>
                <div class="card respuesta" style="width: 18rem;">
                  <ul class="list-group list-group-flush" *ngFor="let item of PrGrafico">
                    <button class="list-group-item">{{item.respuesta}}</button>
                  </ul>
                </div>
            </ul>
        </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'Bisectriz')">
        <h3>Bisectriz</h3>
        <ul *ngFor="let item of PrBisectriz">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'PuntoFijo')">
        <h3>Punto Fijo</h3>
        <ul *ngFor="let item of PrPuntoFijo">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'NewtonRaphson')">
        <h3>Newton-Raphson</h3>
        <ul *ngFor="let item of PrNewtonRaphson">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'FalsaPosicion')">
        <h3>Falsa Posicion</h3>
        <ul *ngFor="let item of PrFalsaPosicion">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="pregunta">
      <div class="mt-4" *ngIf="(value == 'Secante')">
        <h3>Secante</h3>
        <ul *ngFor="let item of PrSecante">
            <li>{{item.pregunta}}</li>
            <div class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <button class="list-group-item">Cras justo odio</button>
                <button class="list-group-item">Dapibus ac facilisis in</button>
                <button class="list-group-item">Vestibulum at eros</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--Contenido de todos los temas-->
<div *ngIf="(value == 'Todos')">
  <div class="view">
    <h3>Método Grafico</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrGrafico">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush" *ngFor="let item of PrGrafico">
            <button class="list-group-item">{{item.respuesta}}</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Bisectriz</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrBisectriz">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <button class="list-group-item">Cras justo odio</button>
            <button class="list-group-item">Dapibus ac facilisis in</button>
            <button class="list-group-item">Vestibulum at eros</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Punto Fijo</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrPuntoFijo">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <button class="list-group-item">Cras justo odio</button>
            <button class="list-group-item">Dapibus ac facilisis in</button>
            <button class="list-group-item">Vestibulum at eros</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Newton-Raphson</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrNewtonRaphson">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <button class="list-group-item">Cras justo odio</button>
            <button class="list-group-item">Dapibus ac facilisis in</button>
            <button class="list-group-item">Vestibulum at eros</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Falsa Posición</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrFalsaPosicion">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <button class="list-group-item">Cras justo odio</button>
            <button class="list-group-item">Dapibus ac facilisis in</button>
            <button class="list-group-item">Vestibulum at eros</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="view">
    <h3>Secante</h3>
    <div class="pregunta">
      <ul *ngFor="let item of PrSecante">
        <li>{{item.pregunta}}</li>
        <div class="card respuesta" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <button class="list-group-item">Cras justo odio</button>
            <button class="list-group-item">Dapibus ac facilisis in</button>
            <button class="list-group-item">Vestibulum at eros</button>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>