<div class="jumbotron jumbotron-fluid bg-dark view animated fadeIn">
    <div class="container">
        <h1 class="display-4">Metodos Numericos</h1>
        <p class="lead">Proyecto integrador equipo 4</p>
        <hr color="#00FFFF">
        <h5>Presentado por:</h5>
        <br>
        <ul>
           <pre class="names">            -    Diego Alberto Villareal Martinez            1580354             ITS</pre>
           <pre class="names">            -    Kevin Gamez Santos                            1838186             ITS</pre>
           <pre class="names">            -    Carlos Eduardo Sencion Lopez            1813481             ITS</pre>
           <pre class="names">            -    Jorge Tadeo Martinez Hernandez         1847618             IEA</pre>
        </ul>
    </div>
</div>