<div class="animated fadeIn">
    <h2>Minimos Cuadrados</h2>
        <p>Es una técnica de análisis numérico enmarcada dentro de la optimización matemática, en la que, dados un conjunto de pares ordenados —variable independiente, variable dependiente— y una familia de funciones, se intenta encontrar la función continua, dentro de dicha familia, que mejor se aproxime a los datos (un "mejor ajuste"), de acuerdo con el criterio de mínimo error cuadrático.</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccione un tema
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" (click)="Todos()">Mostrar todos</a>
            <a class="dropdown-item" (click)="LineaR()">Linea Recta</a>
            <a class="dropdown-item" (click)="Cuadratica()">Cuadratica</a>
            <a class="dropdown-item" (click)="Cubica()">Cubica</a>
            <a class="dropdown-item" (click)="LineaF()">Linea con Funcion</a>
        </div>
        </div>
      <!--Contenido de los temas individualmente-->
      <div>
        <div class="view">
            <div class="pregunta">
              <div *ngIf="(value == 'LineaR')">
                  <h3>Linea Recta</h3>
                  <ul *ngFor="let item of PrLineaR">
                      <li>{{item.pregunta}}</li>
                      <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                        <ul class="list-group list-group-flush" *ngFor="let item of R1LineaR ">
                          <button class="list-group-item">{{item.respuesta}}</button>
                        </ul>
                      </div>
                      <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                        <ul class="list-group list-group-flush" *ngFor="let item of R2LineaR">
                          <button class="list-group-item">{{item.respuesta}}</button>
                        </ul>
                      </div>
                      <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                        <ul class="list-group list-group-flush" *ngFor="let item of R3LineaR">
                          <button class="list-group-item">{{item.respuesta}}</button>
                        </ul>
                      </div>
                  </ul>
              </div>
          </div>
        </div>
    
        <div class="view">
          <div class="pregunta">
            <div class="mt-4" *ngIf="(value == 'Cuadratica')">
              <h3>Cuadratica</h3>
              <ul *ngFor="let item of PrCuadratica">
                  <li>{{item.pregunta}}</li>
                  <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R1Cuadratica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R2Cuadratica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R3Cuadratica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="view">
          <div class="pregunta">
            <div class="mt-4" *ngIf="(value == 'Cubica')">
              <h3>Cubica</h3>
              <ul *ngFor="let item of PrCubica">
                  <li>{{item.pregunta}}</li>
                  <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R1Cubica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R2Cubica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R3Cubica">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="view">
          <div class="pregunta">
            <div class="mt-4" *ngIf="(value == 'LineaF')">
              <h3>Linea con Funcion</h3>
              <ul *ngFor="let item of PrLineaF">
                  <li>{{item.pregunta}}</li>
                  <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R1LineaF">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R2LineaF">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
                  <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
                    <ul class="list-group list-group-flush" *ngFor="let item of R3LineaF">
                      <button class="list-group-item">{{item.respuesta}}</button>
                    </ul>
                  </div>
              </ul>
            </div>
          </div>
        </div>
    
        

        <!--Contenido de todos los temas-->
  <div *ngIf="(value == 'Todos')">
    <div class="view">
        <h3>Linea Recta</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrLineaR">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1LineaR ">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2LineaR">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3LineaR">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>

    <div class="view">
        <h3>Cuadratica</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrCuadratica">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Cuadratica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Cuadratica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Cuadratica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>

    <div class="view">
        <h3>Cubica</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrCubica">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1Cubica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2Cubica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3Cubica">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>

    <div class="view">
        <h3>Linea con Funcion</h3>
      <div class="pregunta">
        <ul *ngFor="let item of PrLineaF">
            <li>{{item.pregunta}}</li>
            <div *ngIf="item.id == 0" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R1LineaF">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 1" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R2LineaF">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
            <div *ngIf="item.id == 2" class="card respuesta" style="width: 18rem;">
              <ul class="list-group list-group-flush" *ngFor="let item of R3LineaF">
                <button class="list-group-item">{{item.respuesta}}</button>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>
    
</div>
